.jumbotron {
  /* background-color: #044694; */
   background-color: #ED3F3C;
   font-weight: 600;
}

.title {
 /* font-family: 'Bangers'; */
/* font-family: 'Bowlby One SC'; */
font-family: 'Monoton';
}
